@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('opensanscondensed-bold-webfont.woff2') format('woff2'),
    url('opensanscondensed-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans_condensedlight';
  src: url('opensanscondensed-light-webfont.woff2') format('woff2'),
    url('opensanscondensed-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'roboto_monoregular';
  src: url('robotomono-variablefont_wght-webfont.woff2') format('woff2'),
    url('robotomono-variablefont_wght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kestoy_selfiekestoy_selfie';
  src: url('kestoy_selfie-webfont.woff2') format('woff2'),
    url('kestoy_selfie-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: justify;
  text-justify: inter-word;
}

.collapseContent {
  padding: 0 18px;
  display: none;
  overflow: block;
  background-color: #f1f1f1;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 99vw;
  min-height: 100vh;
}

#GuitarTabView .string {
  font-size: 1em;
}

body {
  width: 100%;
  color: #fefffe;
  font-size: calc(12px + (16 - 12) * (100vw - 320px) / (850 - 320));
  background-color: #141414;
  background-image: url("tkbg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

/*  TOPBAR STYLES  */

#topBarWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  background-color: rgba(20, 20, 20, 1);
  position: fixed;
  z-index: 1;
}

#tabkeyLogo {
  display: flex;
  justify-content: center;
  width: 20%;
  font-family: 'kestoy_selfiekestoy_selfie';
  font-size: 1.5em;
  color: #fefffe;
}

#topBarSpace {
  display: flex;
  width: 80%;
  height: 100%;
}

#menuButton {
  display: flex;
  width: 20%;
  justify-content: center;
}

a.menu {
  z-index: 3;
  text-decoration: none;
  color: #fefffe;
  font-size: 1.25em;
  font-weight: bold;
}

#largeNav {
  display: none;
}

nav {
  display: flex;
  background-color: rgba(20, 20, 20, 1);
  z-index: 0;
}

nav ul {
  display: flex;
  list-style: none;
  width: 99vw;

}

nav ul li {
  display: flex;
  min-height: 45px;
  max-height: 20%;
  font-size: 2em;
  font-family: "open_sans_condensedbold";
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav ul li a {
  display: block;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fefffe;
}

.drawer {
  -webkit-transition: -webkit-transform 0.25s linear;
  -moz-transition: -moz-transform 0.25s linear;
  -o-transition: -o-transform 0.25s linear;
  transition: transform 0.25s linear;
}

.navMenu {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#navWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

#navWrapper ul {
  display: flex;
  flex-flow: column;
  list-style: none;
}

.navButton {
  display: flex;
  width: 100%;
  height: 10%;
  min-height: 55px;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

/* Fallbacks */

.no-csstransforms .top {
  position: static;
}

.no-csstransforms .drawer nav {
  display: none;
}

.no-csstransforms .drawer.active nav {
  display: block;
}

/*  SIDEBAR STYLES  */


.Sibebar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  height: auto;
  color: #fefffe;
}

#sideWrapper {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
}

#viewSelect {
  display: flex;
  flex-flow: row wrap;
  max-height: 100px;
  height: 100%;
  font-style: italic;
  justify-content: center;
}

#toggleWrapper {
  display: flex;
  flex-flow: row;
  height: 20px;
  width: 40px;
  align-items: center;
  border-radius: 20px;
}

.falseStyle {
  background-color: #56615a;
  justify-content: flex-end;
}

.trueStyle {
  background-color: #04f06a;
  justify-content: flex-start;
}

.toggleGreen {
  background-color: green;
}

#toggleSwitch {
  background-color: #fffcf9;
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

/*  TUNING SELECT STYLES  */
#wrapperGuitarTuning {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 90vh;
  touch-action: manipulation;
}

#wrapperGuitarTuning .cell {
  height: 100%;
}

#wrapperGuitarTuning a {
  text-decoration: none;


}

#wrapperGuitarTuning button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: "Roboto";
  font-size: .8em;
  padding: 0;
}

.inner {
  display: flex;
  flex-flow: column;
}

.inner strong {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1.5em;
}

.tuning-row {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.tuningButton {
  width: 98vw;
  height: 15vh
}

button {
  border: .1em solid #202020;
  background-color: rgba(32, 32, 32, 0.1);
}

.buttonContainer {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.chosen {
  color: #04f06a;
  background-color: #202020;
}

.unchosen button {
  color: #fefffe;
  border-color: #202020;

}

#wrapperGuitarTuning button:hover,
#buttonWrapper button:hover {
  background-color: rgba(32, 32, 32, .75);
  transition: .3s;
}

/*  BUTTON CONTROL STYLES  */
#buttonWrapper {
  display: flex;
  flex-flow: column;
  margin: 25px 0;
  touch-action: manipulation;
}

#buttonWrapper button {
  color: #fefffe;
}

Button {
  user-select: none;
}

#buttonWrapper a {
  display: flex;
  text-decoration: none;
}

.userButton {
  width: 50%;
  min-height: 90px;
  height: 10%;
  background-color: transparent;
}

#correctionControls {
  height: 45px;
  display: flex;
}

#resetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: rgba(52, 10, 9, 0.3);
}

#backspaceButton {
  width: 35%;
  height: 100%;
  background-color: rgba(52, 10, 9, 0.3);
}

#toTopButton {
  width: 15%;
  height: 100%;
  background-color: rgba(52, 10, 9, 0.3);
}

#toTopButton a {
  color: #fefffe;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.invisible {
  animation: FADE-OUT .3s;
  opacity: 0;
}

.visible {
  animation: FADE-IN .3s;
}

/*  MAIN STYLES  */
#mainView {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 99vw;
  justify-content: center;
}

/*  MUSIC KEY VIEW STYLES  */
#fullScale {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

#keyViewWrapper {
  display: flex;
  width: 100%;
}

#keysWrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}

#majorKey,
#minorKey {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 50%;
  font-family: 'open_sans_condensedlight';
  font-size: 1.5em;
}

#majorKey div,
#minorKey div {
  display: flex;
  height: 100%;
  min-height: 50px;
}

#keysWrapper span {
  font-family: 'kestoy_selfiekestoy_selfie';
  letter-spacing: 1px;
  font-size: 1.25em;
  text-decoration: underline;
}

#fullScale {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  font-size: 45px;
  width: 100%;
  height: 100%;
  font-family: 'open_sans_condensedbold';
}

#fullScale div {
  min-width: 70px;
  min-height: 70px;
  width: 100%;
  height: 100%
}

/*  GUITAR NECK VIEW STYLES  */
#neckWrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100px;
}

#neckView {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
}

#neckView img {
  height: 100%;
  width: 100%
}

#strings {
  display: flex;
  flex-flow: column;
  position: absolute;
  width: 100%;
  height: 100%
}

#LowEString {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%
}

.note {
  display: flex;
  background-color: #757575;
  justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  font-family: 'open_sans_condensedlight';
  font-size: .75em;
  text-shadow: 1px 1px black;
}

#lowEString,
#AString,
#DString,
#GString,
#BString,
#highEString {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: .25% 0;
}



#guitarViews .cell {
  min-height: 50px;
}

/*  GUITAR TAB VIEW STYLES  */
#guitarAnchor {
  height: 45px
}

#GuitarTabView {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: "roboto_monoregular";
  font-size: 1.75em;
  width: 100%;
  margin-bottom: 25px;
}

.string {
  display: flex;
  flex-flow: row;
}

/*  RIGHTBAR STYLES */

#RightBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#RightBar span {
  display: flex;
  font-size: 14px;
  font-family: "roboto";
}

#rightWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-flow: row;
  width: 65%;
  height: 20px
}

.cell {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.titleCell {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: flex-start;
}

.modeCell {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: flex-end;
}

#footer {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center
}

#socials {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#socials i {
  font-size: 25px;
}

#C {
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  margin-bottom: 5px;
}

/*  PIANO VIEW STYLES  */
#pianoWrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  margin-top: 45px;
}

#landscapeCheck {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 45px;
  color: #505050;
}

#landscapeCheck div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
}

#rotate i {
  animation: spin 2s linear infinite;
  font-size: 2em;
}

@keyframes spin {

  20%,
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#keyboard {
  display: inline-block;
  height: 200px;
  width: 100%;
  justify-content: center;
  transition: .3s;
  touch-action: manipulation;
}

.whiteKey {
  display: flex;
  flex-flow: column;
  background-color: white;
  height: 100%;
  width: 7%;
  outline: .5em;
  justify-content: flex-end;
  align-items: center;
}

.blackKey {
  display: flex;
  flex-flow: column;
  background-color: black;
  height: 100%;
  width: 5%;
  justify-content: flex-end;
  align-items: center;
  margin: 0% 1%;
}

.spanSpacer {
  display: flex;
  width: 100%;
  height: 100px;
}

.whiteKey div div,
.blackKey div div {
  display: flex;
  width: 100%;
  height: 100%;
  transition: .3s;
  justify-content: center;
  align-items: center;
}

.whiteKey div div,
.blackKey span {
  display: flex;
  font-size: 1.25em;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  color: #fefffe;
  text-shadow: 1px 1px 3px black;
  border-radius: 50%;
}

#blackKeyWrapper {
  display: flex;
  height: 100px;
  width: 100%;
  position: absolute;
  justify-content: center;
  max-width: 1000px
}



.keySpacer {
  display: flex;
  background: transparent;
  width: 7%;
}

.keyEnd {
  display: flex;
  background: transparent;
  height: 50%;
  width: 3.5%
}

#notificationWrapper {
  display: flex;
  position: absolute;
  height: 200px;
  width: 98%;
  justify-content: flex-end;
  background-color: transparent;
  pointer-events: none;
  max-width: 1000px;
}

#rootNotification {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 50%;
  font-size: 1.25em;
  background-color: rgba(20, 20, 20, .9);
  font-family: "roboto";
  z-index: 1;
}

#rootNotification div {
  padding-bottom: 40px;
}

#pianoBottomBar {
  display: flex;
  width: 100%;
  max-height: 300px;
  justify-content: center;
  align-items: space-evenly;
  flex-flow: row wrap;
}

#pianoBottomBar button {
  display: flex;
  order: 2;
  background-color: rgba(52, 10, 9, 0.3);
  width: 50%;
  color: #fefffe;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-size: 1em;
}

#scaleDiv {
  display: flex;
  flex-flow: column;
  width: 50%;
  order: 1;
}

#scaleDiv div {
  display: flex;
  flex-flow: column;
}

#scaleDiv span {
  display: flex;
  align-items: flex-start;
}

.scaleDivTitle {
  font-family: "roboto";
  text-decoration: underline;
  font-size: .75em;
}

#scaleRoot {
  font-family: "kestoy_selfiekestoy_selfie";
}

#scaleMode {
  font-family: 'open_sans_condensedlight';
}

#scaleMode,
#scaleRoot {
  display: flex;
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  text-shadow: 2px 2px 2px black
}

#scaleRoot span {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#modeTable {
  display: flex;
  width: 75%;
  flex-flow: column;
  font-size: 14px;
  justify-content: center;
  order: 3;
  margin: 20px 0;
}

#modeTable .row {
  display: flex;
  width: 100%;
}

#modeTable .cell:first-child {
  display: flex;
  align-items: flex-start;
}

#modeTable .cell:nth-child(2) {
  display: flex;
  align-items: flex-end;
}

#keyboard,
#pianoBottomBar {
  display: flex;
}


/*  HOWTO STYLES  */
#HowTo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#howToWrapper {
  display: flex;
  flex-flow: column;
  width: 90%;
  min-height: 85vh;
  margin-top: 47px;
}

#howToWrapper span {
  text-align: center;
  font-size: 1.5em;
  margin: 50px 0;
}

#howToWrapper p {
  text-align: justify;
  font-size: 1em;
}

#gneckhow img {
  height: auto;
  width: 100%;
  max-width: 600px;
}

/*  FAQ STYLES  */

#FAQWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#FAQ {
  width: 100%;
  max-width: 1000px;
  min-height: 95vh;
  height: 100%;
  flex-grow: 3;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#FAQWrapper button {
  font-size: 1.625em;
  display: flex;
  justify-content: space-between;
}


#show
{
display:none; 
}

.collapsible {
  background-color:transparent;
  color: #fefffe;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid rgba(32, 32, 32, 1);
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible div {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active, .collapsible:hover {
  background-color: rgba(32, 32, 32, .8)
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #141414;
}

.content p {
  text-justify: inter-word;
  text-align: justify;
  font-size: 1em;
}

.coll-wrapper {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  #GuitarTabView .string {
    font-size: 1.5em;
  }

  #landscapeCheck {
    display: none;
  }

  #pianoBottomBar {
    justify-content: space-evenly;
    margin-top: 20px;
    min-height: 200px
  }

  #scaleDiv {
    order: 1;
    width: 25%;
    height: 100%;
  }

  #modeTable {
    order: 2;
    width: 35%;
    height: 100%;
    margin: 0;
    font-size: .75em;

  }

  #pianoBottomBar button {
    display: flex;
    order: 3;
    width: 25%;
    height: 100%;
  }

  #lowEString,
  #AString,
  #DString,
  #GString,
  #BString,
  #highEString {
    display: flex;
    align-items: center;
    width: 100%;
    margin: .25% 0;
  }

  .note {
    font-size: .9em;
    font-family: 'open_sans_condensedbold';
  }

  #correctionControls {
    height: 65px;
  }

  #HowTo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #HowTo span {
    font-size: 2em;
  }

  #HowTo p {
    font-size: 1.25em;
  }

  #howToWrapper {
    width: 600px;
  }

}

@media only screen and (min-width: 1000px) {
  #topBarWrapper {
    display: flex;
    width: 100%;
  }

  #tabkeyLogo {
    display: flex;
    width: 15%;
  }

  #topBarSpace {
    display: flex;
    max-width: 50%;
  }

  #menuButton,
  #navWrapper {
    display: none;
  }

  nav {
    font-size: .5em
  }

  #largeNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
  }

  #largeNav ul {
    display: flex;
    flex-flow: row;
    list-style: none;
    width: 35%;
    margin: 0;
    padding: 0;
  }

  #correctionControls {
    height: 85px;
    display: flex;
  }

  #largeNav a {
    text-decoration: none;
  }

  #largeNav a:hover {
    background-color: black;
    transition: .5s;
  }

  .largeNavButton,
  li {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    font-size: .75em;
  }

  #mainView {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  #footer,
  #pianoView,
  #guitarViews {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
  }

  #wrapperGuitarTuning {
    display: flex;
    flex-flow: row nowrap;
    align-items: space-between;
    justify-content: space-between;
    width: 100%;
    height: 100px
  }

  #wrapperGuitarTuning .cell {
    display: none;
  }

  .tuning-row {
    display: flex;
    flex-flow: row nowrap;
    height: 100px
  }

  .tuningButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100px;
    font-size: .75em;
  }

  .tuningButton strong {
    font-size: .75em;
  }

  .tuning-row a {
    height: 100px
  }

  .inner span {
    font-size: 10px;
  }

  #GuitarTabView .string {
    font-size: 50px
  }

  .note {
    font-size: 20px;
    font-family: 'open_sans_condensedbold';
  }

  #lowEString,
  #AString,
  #DString,
  #GString,
  #BString,
  #HighEString {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  #howToWrapper {
    width: 60%;
  }

  #HowTo p {
    font-size: 1em;
  }
}




